{% extends 'base.html' %}

{% block title %}
    注册
{% endblock %}

{% block head %}
{% load static %}
<link rel="stylesheet" href="{% static '\css\login.css' %}">

<script>
    function check() {
        var username = document.forms["myform"]["username"].value;
        var password1 = document.forms["myform"]["password1"].value;
        var password2 = document.forms["myform"]["password2"].value;
        var email = document.forms["myform"]["email"].value;
        if (username == null || username == "" ) {
            alert("用户名不能为空");
            return false;
        }
        if (email == null || email == "") {
            alert("邮箱不能为空");
            return false;
        }
        if (password1 == null || password1 == "" || password2 == null || password2 == "") {
            alert("密码不能为空");
            return false;
        }
        if (password1 != password2) {
            alert("两次密码不一致");
            return false;
        }
        var last = email.match("@mail.ustc.edu.cn");
        if (last == null || last == "") {
            alert("必须用科大邮箱注册");
            return false;
        }
    }
</script>
{% endblock %}

{% block body %}
    {% if error_message %}
        <script>
            alert("{{error_message}}");
        </script>
    {% endif %}

        <div class="container-lg d-flex justify-content-center mt-5 w-100">
            
            <div class="border border-1 mt-5 mb-5 py-5 px-3">
            
            <form name="myform"  onsubmit="return check()" class="d-flex row align-items-center form-floating" method="post">
                  {% csrf_token %}
                    <div class="row-cols-1 justify-content-center">
                        <div class="col-lg-10 offset-lg-1 text-center px-2 pb-5">
                            <h1>注册</h1>
                        </div>
                        <div class="col-lg-10 offset-lg-1 px-2 pb-4">
                            <label>邮箱:</label>
                            <input type="text" name="username" class="form-control form-control-md" id="floatingInput" placeholder="您的科大邮箱">
                        </div>
                        <div class="col-lg-10 offset-lg-1 px-2 pb-4">
                            <label>密码：</label>
                            <input type="password" name="password1" class="form-control form-control-md" id="floatingPassword" placeholder="密码">
                        </div>
                        <div class="col-lg-10 offset-lg-1 px-2 pb-4">
                            <label>重复密码：</label>
                            
                            <input type="password" name="password2" class="form-control form-control-md" id="floatingPassword" placeholder="确认密码">
                        </div>

                    </div>
                
                    <div class="row-cols-1 gy-2 mt-2 justify-content-center ">
                        <div class="col-lg-10 offset-lg-1 p-2 pb-4 text-center">
                            <button class="w-100 btn btn-md btn-primary" type="submit" id="submit">注册</button>
                        </div>
                        <div class="border-top border-1 col-lg-10 offset-lg-1 p-2 text-center">
                            <p>已有账号？<a href="{% url 'login' %}">登录</a></p>
                            
                        </div>
                    </div>        
                
                
                </form>
            
        </div>
    </div>
<script>
    document.getElementById('submit').addEventListener('click', function() {
        setTimeout(() => {
        this.disabled = true;
    }, 5); 
    });
</script>
{% endblock %}