{% extends 'base.html' %}
{% load static %}

{% block title %}
    寻物
{% endblock %}

{% block head %}

<link rel="stylesheet" type="text/css" href="{% static '\css\main.css' %}">
{% endblock %}


{% block body %}

<div class="container-fluid w-100">
    <div class="container border border-2 pt-3 mb-3">

        <form action="{% url 'items:item' %}" method="post">
            {% csrf_token %}
            <div class="row mt-0 mb-2 mx-0 d-flex">

                <div class="col-lg-auto text-center px-2 pt-2">
                    <p>筛选条件</p>
                </div>
                <div class="col-lg-auto px-2 pb-1">
                    <select name="campus_chosen" class="form-select form-select-lg border-1" aria-label=".form-select-lg example" onchange="change()" id="campus_select">
                            <option selected value="0" id=0>全部校区</option>
                        {% for campus in Campuss %}
                            <option value="{{ campus.id }}">{{ campus.campus_name }}</option>
                        {% endfor %}
                    </select>
                </div>

                <div class="col-lg-auto px-2 pb-1">
                    <button id="building_box" type="button" onclick="changetag('0')" class="form-select form-select-lg border-1" aria-label=".form-select-lg example" data-bs-toggle="modal" data-bs-target="#tag">
                        选择建筑
                    </button>
                </div>

                <div class="col-lg-auto px-2 pb-1">
                    <select name="type_chosen" class="form-select form-select-lg border-1" aria-label=".form-select-lg example">
                        <option selected value="0">全部种类</option>
                        {% for item_type in Item_Types %}
                            <option value="{{ item_type.id }}">{{ item_type.item_type_name }}</option>
                        {% endfor %}
                    </select>
                </div>

                <div class="col-lg-auto px-2 pt-2">
                    <div class="text-center">
                        <p class="card-text">丢失日期：</p>
                    </div>
                </div>
                <div class="col-lg-auto text-center px-2 py-1">
                    <input name="begin_date" type="date" class="form-control border-1" id="timeInput" name="time">
                </div>
            </div>
            <div class="row mt-0 mb-2 mx-0 d-flex">
                <div class="col-lg-auto text-center px-2 pt-2">
                    <p>按关键词</p>
                </div>
                <div class="col-lg-6">
                    <div class="input-group">
                        <div class="w-auto">
                        <select class="form-select form-control-sm" id="wordTag" name="wordTag">
                          <option value="0" selected>全部关键词</option>
                          <option value="1">具体位置</option>
                          <option value="2">物品名称和特征</option>
                        </select>
                    </div>
                        <input name="key" value="{{ default_key }}" type="text" class="form-control w-auto" placeholder="请输入关键词">
                   
                    </div>

                </div>

                <div class="col-lg-auto text-center px-2 py-1" style="font-size: large;">
                    <div class="form-check mt-1">
                        {% if status == '1' %}
                            <input class="form-check-input" type="checkbox" value="1" name="status" id="check1" checked="true">
                        {% else %}
                            <input class="form-check-input" type="checkbox" value="1" name="status" id="check1">
                        {% endif %}
                        <label class="form-check-label" for="flexCheckDefault">只看未找回的物品</label>
                    </div>
                </div>
                <div class="col-lg-1 px-2 py-1">
                    <input class="btn btn-primary " type="submit" value="查询">
                </div>
            </div>


            <div class="modal fade" id="tag" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1" aria-hidden="true">
                <div class="modal-dialog modal-lg modal-dialog-centered modal-dialog-scrollable">
                    <div class="modal-content">
                        <div class="modal-header pb-0">
                            
                            <div class="row d-flex justify-content-center">
                                <div class="col-md-12">
                                    <h1 class="fs-5 mb-3">选择建筑</h1>
                                </div>
                                {% for building_type in Building_Types %}
                                    <div class="col-md-auto">
                                        <button class="btn btn-light" type="button"
                                            onclick="changeTag('{{building_type.id}}')">
                                            {{ building_type.type_name }}
                                        </button>
                                    </div>
                                {% endfor %}
                            </div>
                        </div>
                        <div class="modal-body">
                            <select name="building_chosen" class="form-select " size="10" multiple id="building_select">
                                <option value=0 id="0" class="p-2 fs-6" selected>全部建筑</option>
                                {% for campus in Campuss %}
                                    {% for building in campus.building_set.all %}
                                        <option value={{ building.id }} class="building p-2 fs-6" id={{ campus.id }}*{{ building.type.id }}>{{ building.building_name }}</option>
                                    {% endfor %}
                                {% endfor %}
                            </select>

                        </div>
                        <div class="modal-footer">
                            <button type="submit" class="btn btn-primary" data-bs-dismiss="modal">确认</button>
                        </div>
                    </div>
                </div>
            </div>

        </form>

        <div class="row mt-2 mb-3 mx-0 d-flex border-top border-1 pt-2">
            <div class="col-lg-auto px-3 pb-1 form-select-lg">
                <p class="card-text">已选择：</p>
            </div>

            {% if default_Building %}
                {% for building in default_Building %}
                    <div class="col-lg-auto px-2 pb-1 form-select-lg">
                        <p class="card-text selected_buildings">{{ building }}</p>
                </div>
                {% endfor %}
            {% else %}
                <div class="col-lg-auto px-2 pb-1 form-select-lg">
                    <p class="card-text selected_buildings">全部建筑</p>
                </div>  
            {% endif %}

            <div class="col-lg-auto px-2 pb-1 form-select-lg">
                <p class="card-text">
                    {% if default_Type %}
                        {% for a in default_Type %}
                            {{ a.item_type_name }}
                        {% endfor %}
                    {% else %}
                        全部种类
                    {% endif %}
                </p>
            </div>
            <div class="col-lg-auto px-2 pb-1 form-select-lg">
                <p class="card-text">
                    {% if default_date != "2022-02-02" and default_date is not None %}
                        {{ default_date }} 以后
                    {% else %}
                        所有时间
                    {% endif %}
                </p>
            </div>
        </div>
    </div>

    <div class="float-none album py-2 mb-2 bg-light mb-3">
        <div class="container">
            <div class="row row-cols-1 row-cols-sm-2 row-cols-md-3 g-3">
                {% if Items %}
                    {% for item in Items reversed %}
                        <div class="col">
                            <div class="card shadow-sm text-center m-1">
                                {% if item.status %}
                                    <div class="alert alert-success" role="alert">已被找回</div>
                                {% else %}
                                    <div class="alert alert-danger" role="alert">未找回</div>
                                {% endif %}
                                <a href="{% url 'items:detail' item.id %}">
                                    <div class="container-sm card-img-top img-thumbnail imagecontainer mt-2">
                                        <img src="{{ MEDIA_URL }}{{ item.image }}" class="object-fit-sm-contain border rounded" alt="img">
                                    </div>
                                </a>
                                <div class="card-body">
                                    <p class="card-text">物品名称： {{ item.name }}</p>
                                    {% if item.note %}
                                        <p class="card-text">物品特征： {{ item.note }}</p>
                                    {% endif %}
                                    <p class="card-text">发现时间：{{ item.found_date }}</p>
                                    <p class="card-text">发现地点：{{ item.campus_found }} {{ item.building_found }}</p>
                                    <p class="card-text mb-3">具体地点：{{ item.exact_position }}</p>
                                </div>
                            </div>
                        </div>
                    {% endfor %}
                {% else %}
                    <p class="card-text">没有符合条件的物品</p>
                {% endif %}
            </div>
        </div>
    </div>


    <div class="container">
        <div class="row justify-content-center">
            <div class="col-lg-10 text-center">
                <ul class="pagination justify-content-center">
                    <li class="page-item">
                        <a class="page-link" href="?page=1" aria-label="Previous">
                            <span aria-hidden="true">&laquo;</span>
                        </a>
                    </li>
                    {% if Items.has_previous %}
                    <li class="page-item"><a class="page-link" href="?page={{ Items.previous_page_number }}">{{
                            Items.previous_page_number }}</a></li>
                    {% endif %}
                    <li class="page-item"><a class="page-link" href="#">{{ Items.number }}</a></li>
                    {% if Items.has_next %}
                    <li class="page-item"><a class="page-link" href="?page={{ Items.next_page_number }}">{{
                            Items.next_page_number }}</a></li>
                    {% endif %}
                    <li class="page-item">
                        <a class="page-link" href="?page={{ Items.paginator.num_pages }}" aria-label="Next">
                            <span aria-hidden="true">&raquo;</span>
                        </a>
                    </li>
                </ul>
            </div>
        </div>
    </div>

</div>

<script src="{% static '\js\item.js' %}"></script>

{% endblock %}